body{
    background-color: floralwhite;
}
p{
    font-family: sans-serif;
}

main{
    width: 1000px;
    margin: 0; 
    margin-left: 20%; 
    margin-right: 20%;
    margin-top: 10px;
    display: block;
}
.headers{ 
    margin-top: 5px;
    font-weight: bold;
    font-size: 23px;
    font-family: sans-serif;
}

.flex-containers{
    display:flex
}
.containers{
    border: 1px solid lightslategray;
}

.explanationContainers{
    background: lightslategrey; 
    height: 250px; 
    width: 70%; 
    padding:0px;
}

.explanationText{
    margin-top: 20px; 
    font-family: 
    sans-serif; 
    font-size: 18px;
}

.allGenreContainer{
    margin-top: 30px; 
    display: flex;
}

.infoText{
    margin-bottom: 5px;
}

.infoTextBold{
    margin-bottom: 5px;
    font-weight: bold;
}
.subInfoContainer{
    position: absolute;
    bottom: 0px;
}
.infoContainer{
    height: 250px; 
    width: 30%; 
    padding:0px; 
    background: lightslategray; 
    margin-left: 1px
}
.genreContainer{
    background: rgb(132, 183, 200); 
    width:max-content; 
    height:62px; 
    margin-right: 10px;
}
.genreBody{
    display:flex;
    align-items: center;
}

.photoContainer{
    margin-top:1px; 
    margin-bottom:1px; 
    height:225px; 
    display: flex; 
    align-items: left; 
    gap: 10px; 
    padding: 0px; 
    background: lightslategray
}
.photoBody{
    padding-left: 15px;
}
img{
    width: auto; 
    height:175px;
}
.systemRequirementsContainers{
    margin-top:1px; 
    margin-bottom:1px; 
    height:250px;
    padding: 0px; 
    background: lightslategray
}
#navbar{
    width: 1000px;
    margin-left: 20%; 
    margin-right: 20%; 

}
.containers-games {
    border: 2px solid black;
    padding: 5px;
    width: 150px;
    height: 70px;
    margin-top: 12px;
    margin-left: 12px;
    display: flex;
    align-items: center;
}

#container-gamepicker{
    border: 2px solid black;
    padding: 5px;
    width: 150px;
    height: 70px;
    margin-top: 12px;
    display: flex;
    align-items: center;
    right: 22px;
}

.tag-text{
    font-weight: bold;
}

.systeemeisen-list{
    list-style: none; 
    padding: 0px;
}

.systeemeisen-list li{
    margin-bottom: 5px;
}

.reviewContainers{
    margin-top:1px; 
    margin-bottom:1px; 
    height:250px; 
    padding: 0px; 
    background: lightslategray
}
.recenties-list{
    list-style: none; 
    padding: 0px;
}
.recenties-list li{
    margin-bottom: 7px;
}

.recenties-text{
    font-size: 18px;
    font-family: sherrif;
    margin: 0px;
}

.checkbox-round{
    margin-top: 18px;
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.checkbox-round:checked {
    background-color: lightskyblue;
}

.divCheckBox{
    display: flex;
    width: 5%;
}

.gameCards{
    height : 55px;
    width : 875px;
    margin-top : 5px;
    margin-bottom:  5px;
    background : lightblue;
    padding : 12px;
}
.divTitle{
    width : 90%;
    align-items: center;
}
.divCard{
    display: flex;
    width: 95%;
}

.deleteButtons{
    margin: 5px;
}

.priceTextCard{
    background-color:#0275d8;
    width: 75px;
}
.priceTextCardBody{
    text-align: center;
    padding-top: 13px;
}

#priceText{
    color: white;
}